/*COMPONENTE ABOUTMENU*/

.AboutMenu	
	// background-color $light_black
	position relative

	&-container
		background-color $light_gray
		margin 0 auto
		max-width 1100px
		position absolute		
		left 0
		z-index -1
		width 100%
		// transition transform 0.3s ease-out
		// transform translate(-250px,0)
		
		// &.is-open
		// 	transform translate(0,0)

	&-list
		margin 0
		padding 0
		list-style none
		height auto		
		transition height .3s ease		

		&--show
			height auto
	&-item
		transition all .3s ease
		&:hover
			background-color $naranja
			.AboutMenu-link
				color $white

	&-link
		text-decoration none
		color $black
		width 100%
		padding 1em
		display block		
		font-size 1em
		font-weight 400

/*Tablet*/

@media (min-width: 768px)
	.AboutMenu
		font-weight 300
		background-color $light_black
		&-container
			background-color $light_black
			position inherit
			top inherit
			left inherit
			z-index inherit
		&-button
			display none
			
		&-list
			height 1.6em
			line-height 1.6em
			display flex
			flex-flow row nowrap
			justify-content flex-end
			text-align center
			margin 0 1.4em 0 0
			
		&-item
			display inline-block
			&:hover
				background-color $naranja
				.AboutMenu-link
					color $black
			
		&-link
			color $white
			padding 0 .4em
			width auto