nav(class="AboutMenu "+clase)
	div.AboutMenu-container
		if id
			ul.AboutMenu-list(id=""+id)
				- var menuData = [{"href":"nosotros.html","description":"Nosotros"},{"href":"noticias","description":"Noticias"},{"href":"contactenos","description":"Contáctenos"},{"href":"tarifas.html","description":"Tarifas"},{"href":"politicas.html","description":"Politicas de privacidad"}]
				each val in menuData
					include ../AboutMenu-item/template.jade
		else
			ul.AboutMenu-list
				- var menuData = [{"href":"nosotros.html","description":"Nosotros"},{"href":"noticias","description":"Noticias"},{"href":"contactenos","description":"Contáctenos"},{"href":"tarifas.html","description":"Tarifas"},{"href":"politicas.html","description":"Politicas de privacidad"}]
				each val in menuData
					include ../AboutMenu-item/template.jade