/*SLIDER*/

.Slider
	display inline-block
	position relative
	padding-bottom 115px
	border-bottom 2px dotted $light_gray	
	
	&-imageContainer
		margin 0
		
	&-text
		position absolute
		display block
		top 0
		right 0
		z-index 6
		width 35%
		margin 1em 0 1em 1em
	&-title
		margin 0
		font-weight 700
		font-size 2.2em
	&-description
		margin 0
		font-weight 300
		font-size 1.25em
	&-buttonContainer
		text-align center
		margin 1em 0
	&-button
		background-color $naranja
		padding .7em 3em
		text-decoration none
		color $white
		display inline-block
		cursor pointer
		font-size 1.25em
		