/*SLIDER*/

.Slider
	width 100%
	display inline-block
	
	&-container
		position relative
	&-Ul
		list-style none
		padding 0
	
	&-imageContainer
		margin 0		
		display inline-block
		vertical-align middle
		
	&-text
		text-align left
		position relative
		display block		
		z-index 6
		width 95%
		margin 1em 2.5%
	&-title
		margin 0
		font-weight 700
		font-size 2.2em
	&-description
		margin 0
		font-weight 300
		font-size 1.25em
	&-buttonContainer
		text-align center
		margin 1em 0
		background-image url(../images/sombra-btn-nt.png)
		background-repeat no-repeat
		background-position bottom center
		// background-size cover
	&-button
		background-color $naranja
		padding .4em 2.7em
		text-decoration none
		color $white
		display inline-block
		cursor pointer
		font-size 1.25em

/*Tablet*/

@media (min-width: 768px)
	.Slider		
		// padding-bottom 8.2em
		&-imageContainer			
			width 497px
			height 332px
		
		&-text
			// position absolute
			// top 0
			// right 0
			z-index 6
			width 30%
			margin 1em 0 1em 1em
			display inline-block
			vertical-align middle