section.Slider
	div.Slider-container
		//- ul.rslides
		ul.Slider-Ul.rslides
			-var data = [{"src":"../images/1.png"},{"src":"http://lorempixel.com/497/332/sports/"},{"src":"http://lorempixel.com/497/332/nature/"}]
			- for (var x = 0; x < 3; x++)
				li
					figure.Slider-imageContainer
						img.Slider-image(src="#{data[x].src}", alt="imagen #{x}")
					div.Slider-text
						h2.Slider-title
							|	Texto
						p.Slider-description
							|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem a fugiat cupiditate debitis non.
						div.Slider-buttonContainer
							a.Slider-button(href="#")
								|	Ver más