div.Medio-contactoItem
	p.Medio-contactoText
		span.Medio-contactoBold
			|	Contacto:
		|	Nombre del contacto
	p.Medio-contactoText
		span.Medio-contactoBold
			|	Dirección:
		|	www.azteca.com
	p.Medio-contactoText
		span.Medio-contactoBold
			|	Delegación:
		|	Mexico
	p.Medio-contactoText
		span.Medio-contactoBold
			|	Teléfono:
		|	17201313
	p.Medio-contactoText
		span.Medio-contactoBold
			|	E-mail:
		|	correo@correo.com