section.Contacto
	h1.Contacto-title
			|	Contáctenos
	div.greenBorder
	div.Contacto-formContainer
		div.Contacto-gracias
			p.Contacto-graciasText
				span.Contacto-bold
					|	Gracias por contactarnos
			p.Contacto-graciasText
				|	pronto nos comunicaremos con usted