/*MEDIO-ITEM*/

.Medio
	
	&-item
		border-bottom 1px dotted $light_gray
	
	&-graph
	&-text
	&-features
		display block
		vertical-align top

	&-graph		
		width 100%
		margin-top 2em
		box-sizing border-box
	&-imageContainer
		margin 0
		max-width 65px
		display inline-block
		
	&-image
		width 100%
		
	&-stars
		font-size 1em
		color $light_yellow
		margin-top 1em
		
	&-text
		display inline-block
		width 100%
		color $dark_gray
		text-align left
		margin 1em 0
		padding 0 1em
		box-sizing border-box		
	&-title		
		font-weight 700
		font-size 1.12em
		text-transform uppercase
		margin 0
	&-description
		font-weight 300
		font-size 1em
		margin 0
	&-group
		text-transform uppercase
		
	&-features
		width 100%
		box-sizing border-box
		font-weight 400
		font-size 1em
		margin 1em 0		
		
	&-featureItem
		display inline-block
		margin 1em 0
		&:nth-child(1)
			.Medio-featureLink
				color $lima
		&:nth-child(2)
			.Medio-featureLink
				color $naranja
		&:nth-child(3)
			.Medio-featureLink
				color $light_red
	
	&-featureIcon		
		font-size 2rem
	&-featureText
		margin 0
		margin-left .5em
	&-featureIcon
	&-featureText
		display inline-block
		vertical-align middle
		
/*Tablet*/

@media (min-width: 768px)
	.Medio
		
		&-graph
		&-text
		&-features
			display inline-block
			
		&-graph			
			width 15%
			
		&-stars
			margin-top 2em
		
		&-text			
			width 60%
			margin 1em
			border-left 1px solid $light_gray2
			border-right 1px solid $light_gray2
		
		&-features
			width 15%
		&-featureItem
			display block	