section.Tarifas
	h2.Tarifas-title
		|	Tarifas
	div.greenBorder
	div.Tarifas-container
		figure.Tarifas-imageContainer
			img.Tarifas-image(src="../images/pc-tarifas.png", alt="")
		div.Tarifas-textContainer
			p.Tarifas-description
				|	Conozca nuestras tarifas para publicación de Banners y de los archivos de su empresa. (Tarifarios, Perfiles de Audiencia, Marketing etc).
			p.Tarifas-description
				|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, rem minus eveniet rerum hic consectetur fugiat dolorem temporibus autem impedit explicabo eius dolore libero, nihil. Inventore soluta ipsa beatae, itaque.
		div.Tarifas-buttonContainer
			a.Tarifas-button(href="#")
				|	Descargar Tarifas
	div.Tarifas-container
		include ../Publicidad/template.jade
		include ../Coments/template.jade