/*POLITICAS*/

.Politicas
	text-align center
	margin 1.5em 0
	&-title
		color $lima
		font-size 2.2em
		font-weight 700
		margin 0		
	
	&-textContainer
		text-align left
		margin 1em		
		display block
	&-subTitle
		font-size 1.25em
		font-weight 700
		color $gray
		// margin 0
	&-description
		// margin 0
		color $gray
		font-size 1.25em
		font-weight 300
		
/*Tablet*/

@media (min-width: 768px)

	.Politicas
		&-textContainer
			margin 0