section.Politicas
	h2.Politicas-title
		|	Políticas de privacidad
	div.greenBorder
	div.Politicas-textContainer
		p.Politicas-subTitle
			|	2000 years old. Richard McClintock
		p.Politicas-description
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugit maiores quae provident sequi sunt maxime nam similique et unde distinctio atque officiis perspiciatis, illum, ab laborum cupiditate, esse ipsum.
		p.Politicas-description
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugit maiores quae provident sequi sunt maxime nam similique et unde distinctio atque officiis perspiciatis, illum, ab laborum cupiditate, esse ipsum.
		p.Politicas-subTitle
			|	The standard chunk
		p.Politicas-description
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugit maiores quae provident sequi sunt maxime nam similique et unde distinctio atque officiis perspiciatis, illum, ab laborum cupiditate, esse ipsum.
		p.Politicas-description
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugit maiores quae provident sequi sunt maxime nam similique et unde distinctio atque officiis perspiciatis, illum, ab laborum cupiditate, esse ipsum.
		p.Politicas-description
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugit maiores quae provident sequi sunt maxime nam similique et unde distinctio atque officiis perspiciatis, illum, ab laborum cupiditate, esse ipsum.