doctype html
html(lang="es")
	head
		meta(charset="utf-8")
		title Menoc
		link(rel="stylesheet", href="css/estilos.css")
	body
		include ./components/Header/template.jade
		section.MainContent
			h1
				|	Texto
			include ./components/Aside/template.jade
		script(type="text/javascript", src="js/app.js")