/*COMPONENTE MENU PRINCIPAL*/

.MainMenu
	background-color $light_gray

	&-button
		border 0
		border-radius 5px
		background-color $white
		order 1
		padding 0
		margin-left 1rem
		color $turquesa //ojo

	&-list
		margin 0
		padding 0
		list-style none
		height 0
		overflow hidden
		transition height .3s ease
		max-width 1100px

		&--show
			height auto
	&-item
		transition all .3s ease
		&:hover
			background-color $naranja
			.MainMenu-link
				color $white

	&-link
		text-decoration none
		color $black
		width 100%
		padding 1.5em
		display block		
		font-size 1em
		
		&:active
			background-color $naranja


/*Tablet*/

@media (min-width: 768px)
	.MainMenu		
		margin-right .5rem
		width 90%

		&-button
			display none
			
		&-list
			height 4em
			line-height 4em
			display flex
			flex-flow row nowrap
			justify-content space-around
			text-align center
			
		&-item
			display inline-block
			&:hover
				background-color $naranja
				.MainMenu-link
					color $white
			
		&-link
			padding 0 .4em
			width auto			
			
			&:active
				border-bottom 4px solid $lima