/*COMPONENTE MENU PRINCIPAL*/

.MainMenu	
	
	&-button
		border 0
		border-radius 5px
		background-color $light_gray	
		padding 0
		margin 0 1rem
		color $black

	&-list
		margin 0
		padding 0
		list-style none		
		overflow-y scroll
		overflow-x hidden
		transition display .3s ease		
		display none
		position fixed
		width 100%
		// height 320px
		height 80%
		background-color $light_gray

		&--show
			display block			
	&-item
		display block
		width 100%
		transition all .3s ease
		&:hover
			background-color $naranja
			.MainMenu-link
				color $white
				
		& + .AboutMenu
			display inherit

	&-link
		text-decoration none
		color $black
		width 100%
		padding 1em
		display inline-block		
		font-size 1em
		
/*Tablet*/

@media (min-width: 768px)
	.MainMenu
		margin-right .5rem
			
		&-list
			height 100%
			left 0		
			
		&-item
			& + .AboutMenu
				display none			
		&-link			
			padding 1em
			width 100%

/*Desktop*/

@media (min-width: 1000px)
	.MainMenu		
		margin-right .5rem
		// width 90%
		float right		

		&-button
			display none
			
		&-list
			max-width 1100px
			height 4em
			line-height 4em			
			text-align center
			overflow hidden
			position inherit
			display block			
			
		&-item
			width auto
			display inline-block
			float left
			padding 0 .5em			
			&:hover			
				background-color $naranja
				.MainMenu-link
					color $white
			& + .AboutMenu
				display none			
		&-link			
			padding 0
			width auto