/*COMPONENTE MENU PRINCIPAL*/

.MainMenu	
	
	&-button
		border 0
		border-radius 5px
		background-color $light_gray	
		padding 0
		margin 0 1rem
		color $black

	&-list
		margin 0
		padding 0
		list-style none		
		overflow-y scroll
		overflow-x hidden
		transition display .3s ease
		max-width 1100px
		display none
		position fixed
		width 100%
		// height 320px
		height 80%
		background-color $light_gray

		&--show
			display block
			//height auto
	&-item
		display block
		width 100%
		transition all .3s ease
		&:hover
			background-color $naranja
			.MainMenu-link
				color $white
				
		& + .AboutMenu
			display inherit

	&-link
		text-decoration none
		color $black
		width 100%
		padding 1em
		display inline-block		
		font-size 1em		

/*Tablet*/

@media (min-width: 768px)
	.MainMenu		
		margin-right .5rem
		width 90%		

		&-button
			display none
			
		&-list
			height 4em
			line-height 4em
			display flex
			flex-flow row nowrap
			justify-content space-around
			text-align center
			overflow hidden
			position inherit
			
		&-item
			width inherit
			display inline-block			
			&:hover			
				background-color $naranja
				.MainMenu-link
					color $white
			& + .AboutMenu
				display none			
		&-link
			padding 0 .4em
			width auto
			
			