/*FOOTER*/

.Footer
	background-color $black
	color $white
	max-height 350px
	padding 2em	
	
	&-container
		display flex
		justify-content space-around
		align-items center
		flex-flow row nowrap
		max-width 1100px
		margin 0 auto
		
	&-copy
		text-align center
	&-copyText
		margin 0
		font-weight 300
		font-size .8em

	&-categoria
	&-about
	&-pais
		padding 0 2em
		
	&-categoriaTitle
	&-aboutTitle
	&-paisTitle
		font-weight 700
		font-size 1.1em
		margin 0
				
		
.u-leftBorder
	border-left 1px solid $light_gray