/*FOOTER*/

.Footer
	background-color $black
	color $white
	max-height 350px
	padding 2em	
	
	&-container		
		max-width 1100px
		margin 0 auto
		display none
		
	&-copy
		text-align center
		margin-top 1em
		
	&-copyText
		margin 0
		font-weight 300
		font-size .8em
		
	&-logo
		width 25%
		font-size 3.62em
		
	&-categoria		
		height 234px
		// estilos menu principal en el Footer
		@import "../MainMenu/mainMenuFooter.styl"
		
	&-about
		// estilos menu about en el Footer
		@import "../AboutMenu/aboutMenuFooter.styl"
		
	&-categoriaTitle
	&-aboutTitle
	&-paisTitle
		font-weight 700
		font-size 1.1em
		margin 0
		
	&-paisMobile
		color $black
		text-align center
		
	&-paisDesktop
		display none				
		
.u-leftBorder
	border-left 1px solid $light_gray
	padding 0 2em
	width 25%
	height 234px
	
/*Tablet*/

@media (min-width: 768px)
	.Footer
		
		&-container
			display flex
			justify-content space-around
			align-items flex-start
			flex-flow row nowrap
			max-width 1100px
			margin 0 auto
			
		&-paisMobile
			display none
			
		&-paisDesktop
			display inline-block
			
			& .Paises-item
				max-width 35px
				margin 0 .2em