footer.Footer
	div.Footer-container
		div.Footer-logo
			|	Logo			
		div.Footer-categoria.u-leftBorder
			h4.Footer-categoriaTitle
				|	Categorías catálogo
			- var clase = "MainMenu--footer"
			- var id = ""
			include ../MainMenu/template.jade
		div.Footer-about.u-leftBorder
			h4.Footer-aboutTitle
				|	Sobre Menoc
			- var clase = "AboutMenu--footer"			
			include ../AboutMenu/template.jade
		div.Footer-pais.u-leftBorder
			h4.Footer-paisTitle
				|	Elegir país
	div.Footer-copy
		p.Footer-copyText
			|	Copyright © 2015 www.menoc.net Todos los derechos reservados - Diseño y desarrollo por PAXZU