footer.Footer
	div.Footer-container
		div.Footer-logo
			|	Logo
		div.Footer-categoria.u-leftBorder
			h4.Footer-categoriaTitle
				|	Categorías catálogo
		div.Footer-about
			h4.Footer-aboutTitle.u-leftBorder
				|	Sobre Menoc
		div.Footer-pais
			h4.Footer-paisTitle.u-leftBorder
				|	Elgir país
	div.Footer-copy
		p.Footer-copyText
			|	Copyright © 2015 www.menoc.net Todos los derechos reservados - Diseño y desarrollo por PAXZU