.Contenedor-central
	margin 0 auto
	width 1100px
	
.Center
	margin 0 auto
	
.Graycolor
	background-color $light_gray
	// height 360px

.MainContent
	margin 5em 0 0
		
	&-all
		position relative
		top 0
		left 0		
	
	&-row
		display block
		// padding-top 2.1em
		// margin-top 2.1em
		&:first-child
			padding-top 0
			margin-top 0			
		
	&-left
		display none
		width 24%
		margin-left .5em	
	
	// &-left--show
	// 	display block
		
	&-right
		width 100%
		margin 0
		border-bottom 2px dotted $light_gray
		text-align center
		
	&--hidden
		display none
		
.MenocDescription
	display block
	margin 0 1em
	&-text
		font-weight 300
		font-size 1.2em
		color $gray
	&-name
		color $yellow
		font-weight 700
		font-size 2.2em
	
/*Tablet*/

@media (min-width: 768px)
	.Center
		width 1100px
		
	.Size
		height 335px
	.MainContent
		width 1100px
		margin 0 auto
		
		&-row
			display flex
			flex-flow row nowrap
		
		&-left
			display block
		&-left--show
			display block
			width 32%
			margin-left .5em
			
		&-right
			width 76%
			margin 0 1em		
			
		&-left
		&-right
			padding-top 2em
			
		&-right--sinpad
			padding-top 0			
			margin 0 1em
			border-bottom 2px dotted $light_gray
			width 72%
			
		&--hidden
			display inline-block
			
	.MenocDescription		
		margin 0
		
	.slide-width
		width 100%