/*COMPONENTE BUSCADOR*/

.Buscador
	display none
	text-align center
	padding-bottom 1em
	
	&-container
		background-image url("../images/fondo-buscador.png")
		background-repeat no-repeat
		background-position 50% 50%
		// background-size cover
		max-width 624px
		margin 0 auto
		padding 1em 2em
	&-input
		width 80%
		max-width 30em
		border none
	&-button
		background transparent
		border none
		color $white
		font-size 1.87em
		vertical-align middle
		margin-left .5em
		// padding 2em 0 2em 2em
		
		
	&--show
		display block

/*Tablet*/

@media (min-width: 768px)
	.Buscador
		display block
