/*COMPONENTE BUSCADOR*/

.Buscador
	text-align center
	padding-bottom 1em
	
	&-container
		background-color $lima
		max-width 624px
		margin 0 auto
		padding 1.2em
	&-input
		width 30em
	&-icon
		padding 2em 0 2em 2em
		color $white