/*COMPONENTE BUSCADOR*/

.Buscador
	display none
	text-align center
	padding-bottom 1em
	
	&-container
		background-image url("../images/fondo-buscador.png")
		background-repeat no-repeat
		background-position top center
		background-size cover
		max-width 624px
		margin 0 auto
		padding 1.2em
	&-input
		width 60%
		max-width 30em
		border none
	&-icon
		padding 2em 0 2em 2em
		color $white
		
	&--show
		display block

/*Tablet*/

@media (min-width: 768px)
	.Buscador
		display block
