/*MEDIO-CONTACTO*/

.Medio-contacto
	text-align center
	&Container
		border-bottom 1px dotted $light_gray
		overflow auto
	&Title
		color $naranja
		font-size 2.18em
		font-weight 700		
		margin 0
		margin-top 1em
		
	&SubTitle
		color $dark_gray
		font-weight 700
		font-size 1.12em
		text-transform uppercase
		margin 0
		display inline-block
		float left
		
	&Feature
		display inline-block
		color $lima
		float left
		
	&Nav
		color $dark_gray2
		display inline-block
		float right
		
	&Link
		font-weight 400
		font-size 1.12em
		text-decoration none
		text-transform uppercase
		color $dark_gray2