section.Medio-contacto
	div.Medio-contactoContainer
		h2.Medio-contactoTitle
			|	Televisión
		div.orangeBorder
		div.Medio-contactoTextContainer
			h4.Medio-contactoSubTitle
				|	Azteca
			div.Medio-contactoFeature
				span.Medio-featureIcon.icon-contacto
				p.Medio-featureText
					|	Contacto
			span.Medio-contactoNav
				a.Medio-contactoLink(href="medio.html")
					span.icon-chevron-thin-left
					|	Volver
	div.Medio-contactoList
		- for (var x = 1; x <= 4; x++)
			include ../Medio-contactoItem/template.jade