/*NOSOTROS*/

.Nosotros
	text-align center
	margin 1.5em 0
	&-title
		color $lima
		font-size 2.2em
		font-weight 700
		margin 0	
			
	&-imageContainer		
		max-width 253px
		margin 0
	&-textContainer				
		max-width 490px
		text-align left
		margin-left 3em
		
	&-imageContainer
	&-textContainer
		vertical-align middle
		display inline-block
		
	&-name
		font-size 1.87em
		font-weight 700
		color $yellow
		margin 0
	&-description
		margin 0
		color $gray
		font-size 1.25em
		font-weight 300
		
		&:nth-child(2)
			margin-bottom 1em
			
	&-misionTitle
		color $naranja
		text-align left
		margin 1.5em 0 0
		line-height .8em
		padding-left 1em
		font-size 1.81em
		font-weight 700
		
	&-misionContainer
		background-color $naranja
		text-align left
		padding 1.5em
	&-misionDescription
		font-size 1.25em
		font-weight 300
		color $white
		
// .greenBorder
// 	background-color $lima
// 	width 41px
// 	height 6px
// 	display inline-block
// 	margin-bottom 1em