section.Nosotros
	h2.Nosotros-title
		|	Nosotros
	div.Nosotros-container
		figure.Nosotros-imageContainer
			img.Nosotros-image(src="../images/pc-nosotros.png", alt="")
		div.Nosotros-textContainer
			p.Nosotros-name
				|	Menoc.net
			p.Nosotros-description
				|	Es la mayor Plataforma de Información Profesional en Internet sobre los Medios Publicitarios de México. Es la herramienta indispensable para los profesionales que necesitan información actualizada para la toma de decisiones en las inversiones publicitarias de sus compañas, planificación de campañas en medios, etc.
			p.Nosotros-description
				|	Menoc.net tiene como Misión configurarse en una gran plataforma de encuentro para los profesionales del sector publicitario, proporcionándoles el mejor servicio de consulta y localización de información, permanentemente actualizada, sobre el mercado de la publicidad en los Medios.