section.Nosotros
	h2.Nosotros-title
		|	Nosotros
	div.greenBorder
	div.Nosotros-container
		figure.Nosotros-imageContainer
			img.Nosotros-image(src="../images/pc-nosotros.png", alt="")
		div.Nosotros-textContainer
			p.Nosotros-name
				|	Menoc.net
			p.Nosotros-description
				|	Es la mayor Plataforma de Información Profesional en Internet sobre los Medios Publicitarios de México. Es la herramienta indispensable para los profesionales que necesitan información actualizada para la toma de decisiones en las inversiones publicitarias de sus compañas, planificación de campañas en medios, etc.
			p.Nosotros-description
				|	Menoc.net tiene como Misión configurarse en una gran plataforma de encuentro para los profesionales del sector publicitario, proporcionándoles el mejor servicio de consulta y localización de información, permanentemente actualizada, sobre el mercado de la publicidad en los Medios.
	h2.Nosotros-misionTitle
		|	Nuestra misión completa
	div.Nosotros-misionContainer
		p.Nosotros-misionDescription
			|	El deseo de facilitar, a los profesionales del sector de la comunicación, estudiantes, medios y a todos aquellos interesados, el conocimiento sobre el sector de la publicidad en los aspectos detallados.

		p.Nosotros-misionDescription
			|	Permitir, mediante el acceso gratuito a nuestro Web site, la localización de la información profesional, publicada por los Medios publicitarios y contenida en nuestras bases de datos, de forma agregada.

		p.Nosotros-misionDescription
			|	Una constante actitud proactiva hacia la innovación en el desarrollo tecnológico y la creatividad empresarial, conjuntamente con el compromiso pleno de eficacia para con nuestros usuarios y clientes.

		p.Nosotros-misionDescription
			|	Acercar a los usuarios y clientes, un recurso ágil, potente y sencillo de utilizar, que les ayude en sus decisiones o, para conocer el comportamiento del mercado publicitario.

		p.Nosotros-misionDescription
			|	Ser una herramienta eficaz de información, para que los Medios Publicitarios puedan transmitir a sus clientes toda la información profesional que deseen (formatos, tarifas, ofertas, promociones, lanzamientos, etc.), garantizándoles un acceso rápido y seguro, y que la recepción sea realizada por el target adecuado.

		p.Nosotros-misionDescription
			|	Mediante un sistema personalizado y optimizado (temas, formatos, paquetes promocionales, etc.), que les permita llegar a los agentes del mercado publicitario y, en general, a todos aquellos profesionales que estén interesados en su información y ofertas.