/*ASIDE*/

.Aside
	background-color $white
	&-menu
		width 100%	
		border-radius 5px
		box-shadow 0 1px 6px $dark_gray
		padding-top 1em
		display inline-block
	&-menuItem
		background-color $light_gray
		position relative
		padding .4em
		margin .3em 1em

		&:hover
			cursor pointer
			color $naranja
		&--active
			color $naranja
			
	&-menuList
		display none
		margin 1em
		
	&-subItem
		background-color $white
		display block
		
	&-link
		text-decoration none
		color $dark_gray
		
	&-subItem
	&-text
		padding-left 1em
		
	&-icon
		position absolute
		right 0
		padding-right .25em
		font-size 1.7em
		color $naranja
		    

/*Tablet*/

// @media (min-width: 768px)
// 	.Aside
// 		