nav.Aside
	div.Aside-menu
		- var dataItem = [{"description":"Empresas","submenu":[{"description":"Multimedios","url":"grupo.html"},{"description":"GEN","url":"grupo.html"},{"description":"CINCO M DOS","url":"grupo.html"},{"description":"Grupo Televisa","url":"grupo.html"},{"description":"Prisa","url":"grupo.html"},{"description":"Grupo imagen","url":"grupo.html"},{"description":"OEM","url":"grupo.html"},{"description":"Grupo Mundo Ejecutivo","url":"grupo.html"},{"description":"Azteca","url":"grupo.html"},{"description":"Grupo Ezpansi贸n","url":"grupo.html"}]},{"description":"Grupos de Comunicaci贸n","submenu":[{"description":"Multimedios","url":"grupo.html"},{"description":"GEN","url":"grupo.html"},{"description":"CINCO M DOS","url":"grupo.html"},{"description":"Grupo Televisa","url":"grupo.html"},{"description":"Prisa","url":"grupo.html"},{"description":"Grupo imagen","url":"grupo.html"},{"description":"OEM","url":"grupo.html"},{"description":"Grupo Mundo Ejecutivo","url":"grupo.html"},{"description":"Azteca","url":"grupo.html"},{"description":"Grupo Ezpansi贸n","url":"grupo.html"}]},{"description":"Servicios","submenu":[{"description":"Multimedios","url":"grupo.html"},{"description":"GEN","url":"grupo.html"},{"description":"CINCO M DOS","url":"grupo.html"},{"description":"Grupo Televisa","url":"grupo.html"},{"description":"Prisa","url":"grupo.html"},{"description":"Grupo imagen","url":"grupo.html"},{"description":"OEM","url":"grupo.html"},{"description":"Grupo Mundo Ejecutivo","url":"grupo.html"},{"description":"Azteca","url":"grupo.html"},{"description":"Grupo Ezpansi贸n","url":"grupo.html"}]}]
		each val in dataItem
			div.Aside-menuItem
				span.Aside-text
					|	#{val.description}
				span.Aside-icon.icon-chevron-thin-right
			div.Aside-menuList
				include ../Aside-menuItem/template.jade