nav.Aside
	div.Aside-menu
		- var dataItem = [{"description":"Empresas","submenu":[{"description":"Multimedios"},{"description":"GEN"},{"description":"CINCO M DOS"},{"description":"Grupo Televisa"},{"description":"Prisa"},{"description":"Grupo imagen"},{"description":"OEM"},{"description":"Grupo Mundo Ejecutivo"},{"description":"Azteca"},{"description":"Grupo Ezpansi贸n"}]},{"description":"Grupos de Comunicaci贸n","submenu":[{"description":"Multimedios"},{"description":"GEN"},{"description":"CINCO M DOS"},{"description":"Grupo Televisa"},{"description":"Prisa"},{"description":"Grupo imagen"},{"description":"OEM"},{"description":"Grupo Mundo Ejecutivo"},{"description":"Azteca"},{"description":"Grupo Ezpansi贸n"}]},{"description":"Servicios","submenu":[{"description":"Multimedios"},{"description":"GEN"},{"description":"CINCO M DOS"},{"description":"Grupo Televisa"},{"description":"Prisa"},{"description":"Grupo imagen"},{"description":"OEM"},{"description":"Grupo Mundo Ejecutivo"},{"description":"Azteca"},{"description":"Grupo Ezpansi贸n"}]}]
		each val in dataItem
			div.Aside-menuItem
				span.Aside-text
					|	#{val.description}
				span.Aside-icon.icon-chevron-thin-right
			div.Aside-menuList
				include ../Aside-menuItem/template.jade