/*NEWS*/

.News
	
	&-title
		display none
		
	&-list
		display flex
		justify-content space-around
		align-items center
		
	&-item
		width 45%
		max-width 315px
		display inline-block
		text-align center

	&-imageContainer
		max-width 315px
		margin 0
	&-image
		width 100%	

	&-text
		margin 1em
		text-align left
		color $dark_gray
	
	&-itemTitle
		font-weight 700
		font-size 1.1em

	&-description
		font-weight 300
		overflow(ellipsis)
		
	&-itemTitle
	&-description
		margin 0
		
	&-button
		background $lima
		color $white
		padding .7em 3em