/*NEWS*/

.News
	
	&-title
		display none
		
	&-list
		display block		
		
	&-item
		width 100%		
		display block
		text-align center
		margin-bottom 1em
		background-image url(../images/fondo-news-item.png)
		background-repeat no-repeat
		background-position bottom center
		background-size contain
		// padding 1em
		padding-bottom 0
		margin .5em

	&-imageContainer
		display inline-block		
		margin 0
	&-image
		width 100%	

	&-text
		margin 1em
		text-align left
		color $dark_gray
	
	&-itemTitle
		font-weight 700
		font-size 1.1em

	&-description
		font-weight 300
		overflow(ellipsis)
		
	&-itemTitle
	&-description
		margin 0
		
	&-buttonContainer
		background-image url(../images/sombra-btn-nt.png)
		background-repeat no-repeat
		background-position bottom center
		display inline-block
		padding 0 35px 2px 35px
		
	&-button
		background $lima
		color $white
		padding .4em 3.5em
		border none
		text-decoration none
		display inline-block

/*Tablet*/

@media (min-width: 768px)
	.News
		
		&-list
			display flex
			justify-content space-around
			align-items center
			
		&-item
			width 45%
			max-width 320px
			display inline-block
			text-align center
			
		&-imageContainer
			max-width 320px