ul.Tabs#tabsNav
	li.Tabs-item
		a.Tabs-itemLink.Tabs--is-selected(data-tab="tab_one")
			|	Nacional
	li.Tabs-item
		a.Tabs-itemLink(data-tab="tab_two")
			|	Local
div.Tabs-content#content
	div#tab_one.Tabs-contentPane.Tabs--is-active
		|	tab uno
	div#tab_two.Tabs-contentPane
		|	tab dos