/*GRUPO*/
.Grupo
	text-align center
	margin 1em
	&-title
		color $black
		margin 0
		font-weight 700
		font-size 2.18em	
	&-imageContainer		
		max-width 160px	
		margin 0
		display inline-block
	&-image
		width 100%
		
	&-textContainer
		font-weight 300
		font-size 1.25em
		color $gray
	&-description
		margin 0
		
	&-subTitle
		color $yellow
		font-weight 700
		font-size 1.87em
		margin .5em 0
		border-bottom 1px dotted $light_gray