section.Grupo
	h2.Grupo-title
		|	Multimedios
	div.blackBorder
	div
		figure.Grupo-imageContainer
			img(src="../images/multimedios-logo-small.png",alt="Multimedios")
	div.Grupo-textContainer
		p.Grupo-description
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugit maiores quae provident sequi sunt maxime nam similique et unde distinctio atque officiis perspiciatis, illum, ab laborum cupiditate, esse ipsum.
	h3.Grupo-subTitle
		|	Empresas
	div.Grupo-list
		- var dataItem = [{"img_src":"../images/multimedios-logo.jpg","total_stars":"4","title":"Multimedios Radio","description":"Radio de México","group":"Nombre medio","antiguedad":"XX años","contenido":"DEPORTES / FARANDULA /  NOTICIAS","description_full":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cupiditate itaque dolor? Amet omnis quisquam voluptatem velit deleniti facere mollitia ipsa dignissimos, doloremque quidem nemo deserunt voluptatum quo recusandae dolorem."},{"img_src":"../images/multimedios-tv-logo.jpeg","total_stars":"4","title":"Multimedios Televisión","description":"Televisión de México","group":"Nombre medio","antiguedad":"XX años","contenido":"DEPORTES / FARANDULA /  NOTICIAS","description_full":"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cupiditate itaque dolor? Amet omnis quisquam voluptatem velit deleniti facere mollitia ipsa dignissimos, doloremque quidem nemo deserunt voluptatum quo recusandae dolorem."},{"img_src":"../images/logo_milenio.png","total_stars":"4","title":"Grupo Milenio","description":"Televisión de México","group":"Nombre medio","antiguedad":"XX años","contenido":"DEPORTES / FARANDULA /  NOTICIAS","description_full":""},{"img_src":"../images/night_logo.png","total_stars":"4","title":"POL IFC","description":"Televisión de México","group":"Nombre medio","antiguedad":"XX años","contenido":"DEPORTES / FARANDULA /  NOTICIAS","description_full":""}]
		each val in dataItem
			include ../Grupo-item/template.jade