section.Grupo
	h2.Grupo-title
		|	Multimedios
	div.blackBorder
	div
		figure.Grupo-imageContainer
			img(src="../images/multimedios-logo-small.png",alt="Multimedios")
	div.Grupo-textContainer
		p.Grupo-description
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugit maiores quae provident sequi sunt maxime nam similique et unde distinctio atque officiis perspiciatis, illum, ab laborum cupiditate, esse ipsum.
	h3.Grupo-subTitle
		|	Empresas
	div.Grupo-list
		