/*
* COMPONENTE HEADER
*/

.Header
	background-color $white
	color $black	
	position fixed	
	top 0
	left 0
	width 100%
	z-index 10	
	height 4em
	transition all .3s ease	
	
	&-container
		max-width 1100px
		margin 0 auto
	
	&-mobile
		display flex
		justify-content space-between
		line-height 4em
	
	&-logo
		margin 0 1rem 0 0
		order 2
		font-size 3.5em

/*Tablet*/

@media (min-width: 768px)
	.Header
		height 5em
		&-container
			display flex
			flex-flow row nowrap
			justify-content space-around
			height 5em
			transition all .3s ease
			align-items center
		
		&-logo
			margin 0 0 0 1.5rem
			font-size 4.5em