/*
* COMPONENTE HEADER
*/

.Header
	background-color $light_gray
	color $black
	position fixed
	top 0
	left 0
	width 100%
	z-index 10	
	//height 4em
	transition all .3s ease	
	
	&-container
		max-width 1100px
		margin .5em auto
	
	&-mobile
		display flex
		justify-content space-between
		line-height 4em		
	
	&-logo
		margin 0 1rem
		font-size 3.62em
		
	&-buttons
		font-size 2em	
		
	& .AboutMenu
		display none
		
.Search-button
	border none
	background-color $light_gray

/*Tablet*/

@media (min-width: 768px)
	.Header
		position relative
		height auto
		//height 5em
		
		&-container
			display flex
			flex-flow row nowrap
			justify-content space-around
			height 5em
			transition all .3s ease
			align-items center
			
		&-mobile
			width auto
		
		&-logo
			margin 0 1rem
		// &-buttons
		// 	display none
			
		& .AboutMenu
			display inherit
			
		& .Buscador
			display none
	.Search-button
		display none

/*Desktop*/

@media (min-width: 1000px)
	.Header
		position relative
		height auto
		//height 5em
		
		&-container
			display flex
			flex-flow row nowrap
			justify-content space-around
			height 5em
			transition all .3s ease
			align-items center
			
		&-mobile
			width auto
		
		&-logo
			margin 0 1rem
			// margin 0 0 0 .5rem
		// &-buttons
		// 	display none
			
		& .AboutMenu
			display inherit
			
		& .Buscador
			display block
	.Search-button
		display none