/*
* COMPONENTE HEADER
*/

.Header
	background-color $light_gray
	color $black
	position fixed
	top 0
	left 0
	width 100%
	z-index 10	
	//height 4em
	transition all .3s ease	
	
	&-container		
		margin 0 auto
	
	&-mobile
		line-height 4em
		display flex
		justify-content space-between		
	
	&-logo
		margin 0
		margin-left 1rem
		font-size 3.2em
	
	&-tablet
		display none	
		
	&-buttons
		font-size 2em		
		
	& .AboutMenu
		display none
		
.Search-button
	border none
	background-color $light_gray
	
.Contact-button
	color $black

/*Tablet*/

@media (min-width: 768px)
	.Header
		position relative
		
		&-container			
			height 5em
			transition all .3s ease
			align-items center
			margin .5em auto			
		
		&-logo
			margin 0 1rem		
			
		&-tablet
			display inline-block
			
		& .AboutMenu
			display block			
		
	.Search-button
	.Contact-button
		display none

/*Desktop*/

@media (min-width: 1000px)
	.Header
		position relative
		height auto
		//height 5em
		
		&-container
			display flex
			flex-flow row nowrap
			justify-content space-around
			height 5em
			transition all .3s ease
			align-items center
			max-width 1100px
			
		&-mobile
			width auto
		
		&-logo
			margin 0 1rem			
			
		& .AboutMenu
			display inherit
			
		& .Buscador
			display block	