header.Header
	include ../AboutMenu/template.jade
	div.Header-container
		div.Header-mobile
			div.Header-logo
				|	Logo
			include ../MainMenu-button/template.jade
		- var id = "#menu"
		include ../MainMenu/template.jade
	include ../Buscador/template.jade