div.Paises-list
	- var paisData = [{"value":"Mexico","url":"../images/intro/mex.png"},{"value":"Colombia","url":"../images/intro/col.png"},{"value":"Argentina","url":"../images/intro/arg.png"},{"value":"Estados Unidos","url":"../images/intro/usa.png"},{"value":"Perú","url":"../images/intro/per.png"},{"value":"Costa Rica","url":"../images/intro/cr.png"},{"value":"Cuba","url":"../images/intro/cub.png"},{"value":"Ecuador","url":"../images/intro/ecu.png"},{"value":"Nicaragua","url":"../images/intro/nic.png"},{"value":"Puerto Rico","url":"../images/intro/pr.png"},{"value":"El Salvador","url":"../images/intro/salv.png"},{"value":"Honduras","url":"../images/intro/hon.png"},{"value":"Panama","url":"../images/intro/pan.png"},{"value":"Paraguay","url":"../images/intro/par.png"},{"value":"Guatemala","url":"../images/intro/guat.png"},{"value":"República Dominicana","url":"../images/intro/repd.png"},{"value":"Uruguay","url":"../images/intro/uru.png"},{"value":"Chile","url":"../images/intro/chi.png"},{"value":"Bolivia","url":"../images/intro/bol.png"},{"value":"España","url":"../images/intro/esp.png"}]
	each val in paisData
		div.Paises-item
			a.Paises-link(href="index.html")
				figure.Paises-imageContainer
					img.Paises-image(src="#{val.url}")