article.News-item
	figure.News-imageContainer
		img.News-image(src="http://lorempixel.com/1023/644/", alt="imagen #{x}")
	div.News-text
		h3.News-itemTitle
			|	16 datos sobre consumo de medios digitales en México en 2012
		p.News-description
			|	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus quod est error nemo illum. Aspernatur velit iusto, laboriosam recusandae, sapiente quam, consequatur nostrum corporis facilis ex, perferendis ratione dolore sunt.
	div.News-buttonContainer
		a.News-button(href="noticia_interna.html")
			|	Leer más