div.Medio-archivoItem
	div.Medio-archivoTextleft
		p.Medio-archivoText
			span.Medio-archivoBold
				|	Nombre del archivo:
			span.Medio-archivoLight
				|	Azteca_TVNacional.pptx
		p.Medio-archivoText
			span.Medio-archivoBold
				|	Peso:
			span.Medio-archivoLight
				|	96.38kb
		p.Medio-archivoText
			span.Medio-archivoBold
				|	Estado:
			span.Medio-archivoLight
				|	Displonible
		p.Medio-archivoText
			span.Medio-archivoBold
				|	Fecha de ingreso:
			span.Medio-archivoLight
				|	2013/03/30
		p.Medio-archivoText
			span.Medio-archivoBold
				|	Descripci贸n:
			span.Medio-archivoLight
				|	Presentaci贸n general de Azteca para Televisi贸n Nacional
		p.Medio-archivoText
			span.Medio-archivoBold
				|	Palabras clave:
			span.Medio-archivoLight
				|	Azteca, televisi贸n, mexico, trece, siete, abierta, tv, nacional
	div.Medio-archivoButton
		div.Tarifas-buttonContainer
			a.Tarifas-button(href="#")
				|	Descargar Archivo