@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700')

/*ICONOS COMO FUENTES*/
@import "iconfonts.styl"

$light_gray = #E4E5E5
$light_gray2 = #AFB1B3
$dark_gray = #6D6E71
$dark_gray2 = #9A9C9F
$gray = #666666
$white = #fff
$black = #000
$naranja = #E7801F
$light_black = #221E1F
$lima = #98C038
$yellow = #FFBD31
$light_yellow = #FFE500
$light_red = #E24E41

html
	font-size 16px
	font-family 'Oswald', sans-serif

body
	background-color $white
ul
	margin 0
	
img
	max-width 100%
	
/*Estilos LOGO*/
@import "../components/Logo/estilos.styl"
	
/*Estilos HEADER*/
@import "../components/Header/estilos.styl"

/*Estilos ABOUTMENU*/
@import "../components/AboutMenu/estilos.styl"

/*Estilos MAINMENU*/
@import "../components/MainMenu/estilos.styl"

/*Estilos BUSCADOR*/
@import "../components/Buscador/estilos.styl"

/*Estilos MAINCONTENT*/
@import "../components/MainContent/estilos.styl"

/*Estilos ASIDE*/
@import "../components/Aside/estilos.styl"

/*Estilos slides*/
@import "../components/slides/responsiveslides.styl"

@import "../components/Slider/estilos.styl"

/*Estilos PUBLICIDAD*/
@import "../components/Publicidad/estilos.styl"

/*Estilos NEWS*/
@import "../components/News/estilos.styl"

/*Estilos FOOTER*/
@import "../components/Footer/estilos.styl"

/*___________*/
/*OTRAS PÁGINAS*/

/*Estilos NOSOTROS*/
@import "../components/Nosotros/estilos.styl"

/*Estilos TARIFAS*/
@import "../components/Tarifas/estilos.styl"

/*Estilos POLITICAS*/
@import "../components/Politicas/estilos.styl"

/*Estilos TELEVISIÓN - MEDIO*/
@import "../components/Television/estilos.styl"

/*Estilos TABS*/
@import "../components/Tabs/estilos.styl"

/*Estilos MEDIO-ITEM*/
@import "../components/Medio-item/estilos.styl"

/*Estilos GRUPO*/
@import "../components/Grupo/estilos.styl"

/*Estilos SEARCH-RESULTS*/
@import "../components/Search-results/estilos.styl"

/*Estilos NOTICIAS*/
@import "../components/Noticias-fecha/estilos.styl"

/*Estilos CONTACTO*/
@import "../components/Contacto/estilos.styl"

/*Estilos MEDIO-CONTACTO*/
@import "../components/Medio-contacto/estilos.styl"

/*Estilos OWL CAROUSEL*/
@import "../../node_modules/owlcarousel/owl-carousel/owl.carousel.css"
@import "../../node_modules/owlcarousel/owl-carousel/owl.theme.css"

.greenBorder
	background-color $lima
	width 41px
	height 6px
	display inline-block
	margin-bottom 1em

.orangeBorder
	background-color $naranja
	width 41px
	height 6px
	display inline-block
	margin-bottom 1em
	
.blackBorder
	background-color $black
	width 41px
	height 6px
	display inline-block
	margin-bottom 1em
	
.greenText
	color $lima
.yellowText
	color $yellow
.orangeText
	color $naranja