@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700')

$light_gray = #E4E5E5
$dark_gray = #6D6E71
$gray = #666666
$white = #fff
$black = #000
$naranja = #E7801F
$light_black = #221E1F
$lima = #98C038
$yellow = #FFBD31

html
	font-size 16px
	font-family 'Oswald', sans-serif

body
	background-color $white
ul
	margin 0
	
img
	max-width 100%
	
/*Estilos LOGO*/
@import "../components/Logo/estilos.styl"
	
/*Estilos HEADER*/
@import "../components/Header/estilos.styl"

/*Estilos ABOUTMENU*/
@import "../components/AboutMenu/estilos.styl"

/*Estilos MAINMENU*/
@import "../components/MainMenu/estilos.styl"

/*Estilos BUSCADOR*/
@import "../components/Buscador/estilos.styl"

/*Estilos MAINCONTENT*/
@import "../components/MainContent/estilos.styl"

/*Estilos ASIDE*/
@import "../components/Aside/estilos.styl"

/*Estilos slides*/
@import "../components/slides/responsiveslides.styl"

@import "../components/Slider/estilos.styl"

/*Estilos PUBLICIDAD*/
@import "../components/Publicidad/estilos.styl"

/*Estilos NEWS*/
@import "../components/News/estilos.styl"

/*Estilos FOOTER*/
@import "../components/Footer/estilos.styl"

/*___________*/
/*OTRAS PÁGINAS*/

/*Estilos NOSOTROS*/
@import "../components/Nosotros/estilos.styl"

/*Estilos POLITICAS*/
@import "../components/Politicas/estilos.styl"

.greenBorder
	background-color $lima
	width 41px
	height 6px
	display inline-block
	margin-bottom 1em