@import "nib"
@import "normalize.styl"
@import url('https://fonts.googleapis.com/css?family=Oswald:400,300,700')

$light_gray = #E4E5E5
$white = #fff
$black = #000
$naranja = #E7801F
$light_black = #221E1F

html
	font-size 16px
	font-family 'Oswald', sans-serif

body
	background red
	
/*Estilos HEADER*/
@import "../components/Header/estilos.styl"

/*Estilos ABOUTMENU*/
@import "../components/AboutMenu/estilos.styl"

/*Estilos MAINMENU*/
@import "../components/MainMenu/estilos.styl"